* {box-sizing: border-box;}

body{
    background-color: #e0f3f6;
    padding: 6px;
    
}

div#legend{
    width:100px;
    height: 100px;
    z-index: 10;
    position: absolute;
    left: -10px;
    margin-left: 495px;
    bottom: 235px;
}

#legend text{
    font-family: "Lucida Console", "Courier New", monospace;
}

div#title{
    width: 100%;
    height: 10%;
    margin-bottom: 0.5%;
    text-align: center;
    float: left;
}

#title p{
    font:30px sans-serif;
    font-weight: bold;
    padding: 8px;
    margin:10px;
    margin-top: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    background-color: #f37e7e;
    color: rgb(0, 0, 0);
    letter-spacing: 1.85px;
}

div#sliderSegment{
    float: right;
    width: 70%;
    margin-bottom: 50px;
}

div#graphSegment{
    width: 30%;
    float: left;
    background-color: #d1f4f6;
    text-align: center;

}

div#geoMapSegment{
    width: 70%;
    height: 700px;
    float: right;
    display: inline;
    text-align: center;
    z-index: 1;
    margin-bottom: -158px;  
}

div#map{
    width: 50%;
    height: 700px;
    float: left;
    display: inline;
    text-align: center;
    z-index: 1;
}

div#regionName{
    width: 28%;
    height: 100px;
    text-align: center;
    margin-bottom: 0.5%;
    display: inline;
    padding: 10px;
}

div#graphView{
    width: 60%;
    height: 550px;
    text-align: center;
    margin-bottom: 0.5%;
    display: inline;
    padding: 10px;
}

#countryName{
    font:32px sans-serif;
    color: #ffffff;
    width: 400px;
    text-align: center;
    font-weight: bold;
    display: inline;
    background-color: #000000;
}

.rangeValues span{
    font-family: "Lucida Console", "Courier New", monospace;
}

.rangeValues {
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    width: 100%;
}

#slider{
    width: 100%;
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: rgb(255, 255, 255);
    margin: 1px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 6px 32px;
    font-size: 16px;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 28px;
    border-radius: 50px;
    background: #000000;
    outline: none;
    opacity: 0.75;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-moz-range-thumb {
    border-radius: 50%;
    background: #0b4d87;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    appearance: none;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}

div.tooltip {
    width: auto;
    height: auto;
    position: absolute;
    text-align: left;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    pointer-events: none;
    font: 12px sans-serif;
    background: rgb(175, 195, 221);
}

.toolTip {
    display: none;
    min-width: 85px;
    height: auto;
    position: absolute;
    background-color: rgb(174, 196, 224);
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 3px;
}

#sliderSegment{
    font-family: "Lucida Console", "Courier New", monospace;
}

#sliderSegment #yearNo{
    position: relative;
    top: 0px;
    font-size: 25px;
    float:right;
    font-weight: bold;
    margin-right: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.grid path {
    stroke-width: 0px;
}

.grid line {
    stroke: rgb(126, 126, 126);
    stroke-opacity: 0.1;
    shape-rendering: optimizeSpeed ;
}

div#barSegment{
    width: 30%;
    float: left;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;;
    background-color: #d1f4f6;
}

#barSegment h2{
    margin: 7px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;;
}

#barSegment g{
    pointer-events: all;

}

#barSegment *{
    pointer-events: all;

}

#barGraph{
    text-align: center;
}

div#barGraph{
    background-color: 	#d1f4f6;
}

#barGraphName{
    font:26px sans-serif;
    color: #ffffff;
    width: 400px;
    text-align: center;
    font-weight: bold;
    display: inline;
    background-color: #000000;
}

button#readMore{
    padding: 1px;
    margin-left: 12px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f8bcbc; 
}

#readMore:hover{
    color: #3a92cd;
    cursor: pointer;
}

.informationTab {
    padding: 15px;
    background-color: #f37e7e;
    color: black;
    display: none;
    position: absolute;
    left: 42%;
    top: 9.8%;
    width: 56%;
    font-family: sans-serif;
}

.crossButton {
    margin-left: 15px;
    margin-top:-8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.crossButton:hover {
    color: #e0f3f6;
}

.informationTab p{
    margin-bottom: 2px;
    margin-top: 2px;
}

.informationTab h3,ul{
    margin-top:7px;
    margin-bottom: 7px;
}

